body  {
	font: 14px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #999;
}

.clear, br {clear: both;}

a:focus {outline-style: none;}
a img {border: none;}

a, nav {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

a:link{color: #000; text-decoration: none;}
a:visited{color: #000; text-decoration: none;}
a:hover{color: #000; text-decoration: none;}

/*--------------------------------------- NAV ---------------------------------------*/

nav {
	width: 100%;
	background: #5490c3;
	margin-bottom: 20px;
	padding: 10px 0;
	position: fixed;
	text-align: center;
}

nav.shadow {box-shadow: 0 5px 10px rgba(0, 0, 0, .5);}

	nav ul {
		margin: 0 auto;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}

		nav ul li {display: inline-block;}

			nav ul li a, #load_more {
				display: block;
				padding: 3px 8px;
				border: 1px solid #000;
				border-radius: 5px;
				margin-right: 20px;
				background: #6ebcff;
			}

				nav ul li a:hover,
				nav ul li a.selected,
				nav ul li a.selected:hover,
				#load_more:hover {background: #4678a3; color: #fff;}
				nav ul li a.selected:hover {cursor: default;}

/*--------------------------------------- ITEMS ---------------------------------------*/

#container {
	width: 990px;
	margin: 0 auto;
	text-align: center;
	padding-top: 75px;
}

.item {
	display: inline-block !important;
	padding: 10px;
	margin: 0 10px 20px 10px;
	border: 1px solid #000;
	border-radius: 10px;
}

	.item img {
		width: 200px;
		margin-bottom: 5px;
	}

#load_more {
	width: 150px;
	margin: 30px auto;
}









